__pycache__/
*.py[cod]
*$py.class
*.so
.build/
dist/
*.egg-info/
.eggs/
venv/
.env/
.venv/
*.log
*.sqlite3
instance/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.vercel/
.vercelignore
.DS_Store
Thumbs.db
ehthumbs.db